.degrade {
    @include fond_degrade;
    border: none;
    color: map-get($couleurs,Blanc);
    padding: 2vh 0;
    width: 60%;
    margin: 5vh 0 9vh;
    font-size: 2.5vh;
    border-radius: 4vh;
    @include box-shadow(map-get($ombres, Normales));
    &:active {
        opacity: 0.8;
        @include box-shadow(map-get($ombres, Sombres));
    }
}

