h2 {
    margin: 4vh 0;
    font-weight: 800;
    font-size: map-get($taille-de-base-txt, titres);

    @include for-device(
        $device_list: (
            tablet-portrait-up,
            tablet-landscape-up,
            desktop-up,
            big-desktop-up,
        )
    ) {
        margin: 0 0 2vh 0;
        text-align: center;
        flex-basis: 100%;
    }
}
