.presentation_restaurant {
    position: relative;
    img {
        object-fit: cover;
        height: 41vh;
        width: 100%;
    }
    h1 {
        display: flex;
        justify-content: space-around;
        background-color: #f6f6f6;
        position: absolute;
        bottom: -5vh;
        width: 100%;
        padding: 4vh 0;
        font-size: 4vh;
        font-weight: 100;
        font-family: $police_titres;
        border-radius: 6vh 6vh 0 0;
    }
}
.menu {
    h2 {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 2.5vh;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            bottom: -1vh;
            left: 0;
            height: 0px;
            width: 6vh;
            border-bottom: 3px solid map-get($couleurs, Tertiaire);
        }
    }
}
article {
    width: 100%;
    text-align: inherit;
    border: none;
    background-color: white;
    @include box-shadow(map-get($ombres, Claires));
    padding: 2vh;
    padding-right: 0;
    margin: 3vh 0;
    border-radius: 2vh;
    position: relative;
    label {
        position: absolute;
        width: 100%;
        height: 100%;
        margin: -2vh;
    }

    h3 {
        font-size: 2.8vh;
        font-weight: 600;
        flex-basis: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    p {
        display: flex;
        justify-content: space-between;
        .prix_plat {
            margin: 0 3vh 0 1vh;
            font-weight: 800;
        }
        .description_plat {
            font-size: 2.2vh;
            font-weight: 300;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .fa-check-circle {
        position: absolute;
        font-weight: 900;
        background: map-get($couleurs, Tertiaire);
        color: white;
        width: 0;
        top: 0;
        right: 0;
        height: 66%;
        border-radius: 0 2vh 2vh 0;
        font-size: 3vh;
        text-align: center;
        padding-top: 3.5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        &::before {
            white-space: nowrap;
            overflow: hidden;
            transform: rotate(0turn);
            margin-top: -3vh;
        }
    }
    input[type="checkbox"] {
        display: none;
        &:checked {
            @keyframes animation-check-on {
                from {
                    width: 0;
                }
                to {
                    width: 9vh;
                }
            }
            & ~ .fa-check-circle {
                animation: animation-check-on 300ms ease-in-out 1 forwards;
                &::before {
                    transform: rotate(-1turn);
                    transition: transform 300ms ease-in-out;
                }
            }
            &:not(:checked) {
                & ~ .fa-check-circle {
                    animation: animation-check-on 300ms ease-in-out 1 reverse forwards;
                }
            }
            & + .prix_plat {
                animation: recalage-prix 300ms ease-in-out 1 forwards;
                @keyframes recalage-prix {
                    from {
                        margin-right: 3vh;
                    }
                    to {
                        margin-right: 12vh;
                    }
                }
            }
        }
    }
}

.commander {
    text-align: center;
}
