body.page-resto{
    @include for-device($device_list:(desktop-up,big-desktop-up)){
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
header,.presentation_restaurant,.commander,footer{flex-basis: 100%;}
    }
}


.presentation_restaurant {
    position: relative;
    img {
        object-fit: cover;
        height: 41vh;
        width: 100%;
        @include for-device(
            $device_list: (
                desktop-up,
                big-desktop-up,
            )
        ) {
            border-radius: 0 0 10vh 10vh;
        }
    }
    h1 {
        display: flex;
        justify-content: space-around;
        background-color: map-get($map: $couleurs, $key: Fond);
        position: absolute;
        bottom: -5vh;
        width: 100%;
        padding: 4vh 0;
        font-size: 4vh;
        font-weight: 100;
        font-family: $police_titres;
        border-radius: 6vh 6vh 0 0;
        @include for-device(
            $device_list: (
                desktop-up,
                big-desktop-up,
            )
        ) {
            left: 33%;
            width: 33%;
            justify-content: space-evenly;
        }
    }
}

.commander {
    text-align: center;
}
