.plat_commande {
    &:checked {
        @include animation_check_mixin(0, $dimension_du_check, in);

        & ~ .fa-check-circle {
            animation: animation-check-in 300ms ease-in-out 1 forwards;

            &::before {
                @include transition-standard(rotate(360deg));
            }
        }
    }
    &:not(:checked) {
        @include animation_check_mixin($dimension_du_check, 0, out);
        & ~ .fa-check-circle {
            animation: animation-check-out 300ms ease-in-out 1 forwards;
        }
    }
}

@include for-device(
    $device_list: (
        tablet-landscape-up,
        desktop-up,
        big-desktop-up,
    )
) {
    .menu article:hover {
        @include animation_check_mixin(0, $dimension_du_check, in);

        .fa-check-circle {
            animation: animation-check-in 300ms ease-in-out 1 forwards;
            &::before {
                @include transition-standard(rotate(360deg));
            }
        }
    }
}
