@mixin for-device($device_list) {
    @media screen and (min-width: get-min-width($device_list)+px) and (max-width: get-max-width($device_list)+px) {
        @content;
    }
}

@mixin box-shadow($Yoffset) {
    box-shadow: black 0 $Yoffset 16px -9px;
}

@mixin fond_degrade {
    background: linear-gradient(170deg, map-get($couleurs, Secondaire), map-get($couleurs, Primaire));
}

@mixin animation_check_mixin($depart, $arrivee, $inout) {
    @keyframes animation-check-#{$inout} {
        from {
            width: $depart;
        }
        to {
            width: $arrivee;
        }
    }
}

@mixin transition-standard($type-et-valeur) {
    transform: #{$type-et-valeur};
    transition: transform 300ms ease-in-out;
}
