$couleurs:(Primaire:#9356DC,Secondaire:#FF79DA,Tertiaire:#99E2D0, Fond:#f6f6f6, Blanc:white);
$police_titres:'Shrikhand', cursive;
$police_normale: 'Roboto', sans-serif;
$ombres:(Normales:5px,Sombres:10px,Claires:2px);