.explore {
    text-align: center;
    background-color: map-get($map: $couleurs, $key: Fond);
    p {
        &:first-child {
            padding: 2.4vh;
            background: #eaeaea;
           box-shadow: inset 0px 10px 10px -14px
        }
        &:nth-child(3) {
            margin: 0 1vh;
            font-size: 2.5vh;
            font-weight: 300;
        }
    }
    h1 {
        margin: 6vh 6vh 1vh;
        font-size: 3.7vh;
    }
}
