.fonctionnement {
    padding: 6vh 3vh;
    background: map-get($couleurs, Blanc);
    @include for-device(
        $device_list: (
            tablet-portrait-up,
            tablet-landscape-up,
            desktop-up,
            big-desktop-up,
        )
    ) {
        padding: 3vh;
        position: relative;
    }
}

ol {
    list-style: none;
    counter-reset: numero-etape;
    @include for-device(
        $device_list: (
            tablet-portrait-up,
            tablet-landscape-up,
            desktop-up,
            big-desktop-up,
        )
    ) {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    li {
        position: relative;
        counter-increment: numero-etape;
        font-size: 2.4vh;
        font-weight: 500;
        background-color: map-get($couleurs, Fond);
        margin: 0 0 24px -5vh;
        border-radius: 4vh;
        @include box-shadow(map-get($ombres, Claires));

        @include for-device(
            $device_list: (
                tablet-portrait-up,
                tablet-landscape-up,
            )
        ) {
            font-size: 1.5vh;
            margin-right: -1vh;
            padding-right: 3vh;
            flex-basis: 50%;
        }
        @include for-device(
            $device_list: (
                desktop-up,
                big-desktop-up,
            )
        ) {
            font-size: 1.5vh;
            margin-right: -1vh;
            padding-right: 3vh;
            flex-basis: 25%;
        }

        &::before {
            content: counter(numero-etape);
            text-align: center;
            color: map-get($couleurs, Blanc);
            background-color: map-get($couleurs, Primaire);
            display: inline-block;
            width: 3.5vh;
            height: 3vh;
            margin-left: -1vh;
            border-radius: 2vh;
            padding-top: 0.4vh;
            font-size: 2vh;
            @include for-device(
                $device_list: (
                    tablet-portrait-up,
                    tablet-landscape-up,
                    desktop-up,
                    big-desktop-up,
                )
            ) {
                font-size: 2vh;
            }
        }
        &::after{
            content: "";
            position: absolute;
            width:100%;
            height: 100%;
            left: 0;
            border-radius: 2vh;
            background-color: map-get($map: $couleurs, $key: Secondaire);
            opacity: 0;
        }
        i {
            margin: 4vh;
            font-size: 3vh;
            color: grey;
            @include for-device(
                $device_list: (
                    tablet-portrait-up,
                    tablet-landscape-up,
                    desktop-up,
                    big-desktop-up,
                )
            ) {
                margin: 2vh;
                font-size: 2vh;
            }
        }
        &:hover{
             i {
            color: map-get($couleurs, Primaire);

        }
    &::after{
        opacity: 5%;
    }}
    }
}
