.restaurants {
    background-color: map-get($couleurs, Fond);
    padding: 3vh;
    @include for-device(
        $device_list: (
            tablet-portrait-up,
            tablet-landscape-up,
            desktop-up,
            big-desktop-up,
        )
    ) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    @include for-device(
        $device_list: (
            desktop-up,
            big-desktop-up,
        )
    ) {
        justify-content: space-between;
    }
    .resto {
        background-color: map-get($couleurs, Blanc);
        height: 36vh;
        margin-bottom: 3vh;
        border-radius: 2vh;
        position: relative;
        @include box-shadow(map-get($ombres, Claires));
        @include for-device(
            $device_list: (
                tablet-portrait-up,
                tablet-landscape-up,
                desktop-up,
                big-desktop-up,
            )
        ) {
            flex-basis: 23%;
        }
        .image {
            object-fit: cover;
            object-position: bottom;
            height: 25vh;
            width: 100%;
            border-radius: 2vh 2vh 0 0;
            &__imagecentree {
                object-position: center;
            }
        }
        &--nouveau::after {
            content: "Nouveau";
            position: absolute;
            top: 2vh;
            right: 2vh;
            background-color: #99e2d0;
            padding: 1vh 2vh;
            color: darken(map-get($couleurs, Tertiaire), 40%);
            font-weight: 500;
            font-size: 2vh;
        }
        .fa-heart {
            font-family: "Font Awesome 5 Free";
            position: absolute;
            top: 29vh;
            right: 4vh;
            font-size: 4vh;
        }

        h3 {
            margin: 2vh 0 0 2vh;
            font-size: 2.8vh;
            @include for-device(
                $device_list: (
                    tablet-portrait-up,
                    tablet-landscape-up,
                )
            ) {
                font-size: 2.4vh;
            }
        }
        p {
            margin-left: 2vh;
            font-size: 2.5vh;
            font-weight: 300;
            @include for-device(
                $device_list: (
                    tablet-portrait-up,
                    tablet-landscape-up,
                )
            ) {
                font-size: 2.2vh;
            }
        }
        @include for-device(
            $device_list: (
                tablet-portrait-up,
                tablet-landscape-up,
            )
        ) {
            flex-basis: 45%;
        }
    }
}
